
http=http://dzancheta:panvel2017@proxyweb.dimed.com.br:8080
https-proxy=http://dzancheta:panvel2017@proxyweb.dimed.com.br:8080/
http-proxy=http://dzancheta:panvel2017@proxyweb.dimed.com.br:8080
proxy=http://dzancheta:panvel2017@proxyweb.dimed.com.br:8080
NODE_TLS_REJECT_UNAUTHORIZED=0
strict-ssl=false
registry=http://registry.npmjs.org/
https_proxy=http://dzancheta:grupodimed4@proxyweb.dimed.com.br:8080
